<h1><%= @post.title %></h1>
<% if current_user && (current_user.id == @post.user_id) %>
  <a href= "/posts/<%= @post.id %>/edit"><p>Edit Post</p></a>
  <%= link_to "Delete Post", "/posts/#{@post.id}", method: :delete %>
  <p>Add category:</p>
  <%= form_tag "/post_categories", method: :post do %>
    <div>
      <%= collection_select :category, :category_id, Category.all, :id, :name %>
    </div>
      <%= hidden_field_tag :post_id, @post.id %>
    <%= submit_tag "Add" %>
  <% end %>
  <%= form_tag "/categories", method: :post do %>
    <div>
      <%= label_tag :name %>
      <%= text_field_tag :name %>
    </div>
      <%= submit_tag "Add New Category" %>
  <% end %>
<% end %>
<p>By <%= @post.user.name %></p>
<p>Catgories:</p>
<% @post.categories.each do |category| %>
  <a href="/posts?category=<%= category.id %>"><%= category.name %></a>
<% end %>
<p>
<%= @post.content %>
</p>
<a href="/"><p>Back to Index</p></a>