<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to "Log Out", '/logout', method: :delete %>
    <% else %>
      <a href="/login"><p>Log In</p></a>
      <a href="/signup"><p>Sign Up</p></a>
    <% end %>
    <%= yield %>
  </body>
</html>
